/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Navigation Bar */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px  15px;
    background-color: white;
    box-shadow: 0 1px 8px darkgray;
}

.topnav .topRightNav {
    float: right;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 4px;
}

.topnav a:hover {
    background-color: lightgray;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Image */
#topImageContainer {
    position: relative;
}

#topImageContainer .textBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 35px;
    letter-spacing: 4.5px;
    color: whitesmoke;
}

#topImage {
    width: 100%;
}

#topImageContainer .textBlock b {
    background-color: rgba(0, 0, 0, 0.94);
    opacity: 0.8;
    padding: 8px 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sections */
.section {
    padding: 60px 32px 0;
}

.title {
    font-size: 18pt;
}

hr {
    border-width: 0;
    background-color: rgb(240, 240, 240);
    height: 1px;
    margin-top: 18px;
    margin-bottom: 18px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Image Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 34px -8px 0;
}

.row .imageContainer {
    flex: 25%;
    max-width: 25%;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 7px 8px;
}

.row .imageContainer img {
    width: 100%;
}

@media (max-width: 800px) {
    .row .imageContainer {
      flex: 50%;
      max-width: 50%;
    }
}

@media (max-width: 600px) {
    .row .imageContainer {
      flex: 100%;
      max-width: 100%;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Projects */
#projects .imageContainer {
    position: relative;
}

#projects .textBlock {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 8px;
    padding: 8px 16px;
    color: white;
    background-color: black;
    font-size: 13pt;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About */
#about p {
    font-size: 11.5pt;
}

#about img {
    filter: grayscale(74%)
}

#about .profession {
    color: gray;
}